.body {
    font-family: 'Roboto', sans-serif;
}

.box {
    margin: auto;
    width: 50%;
    border: 3px solid green;
}

table {
    font-family: 'Roboto', sans-serif;
    margin: 12px;
}

.my-buttons {
    margin: 12px 0 20px 15px;
    /* top right bottom left */
}

.my-buttons button {
    font-size: 13px;
}
